@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');


/* yahan par jitni bhi css us ho rhi he wo globally use ho rahi he i ko hum kahi bhi apply kar skyte hen  */
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}